<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" style=' margin: 0 auto;'>
            <div class="well no-padding grew">
                <form action="index#ajax/index" id="login-form1" class="smart-form client-form editPassword">
                    <header>
                        日志管理系统
                    </header>
                    <fieldset>
                        <section class="checking">
                            <label class="label">原密码</label>
                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="passwordY" id='passwordY' maxlength="17"/>
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 请输入您的原密码</b>
                            </label>
                        </section>
                        <section class="checking">
                            <label class="label">密码</label>
                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="passwordN" id='passwordN' maxlength="17"/>
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>
                                    请输入您的密码</b>
                            </label>
                        </section>
                        <section class="checking">
                            <label class="label">重复密码</label>
                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="passwordR" id='passwordR' maxlength="17"/>
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>
                                    请再一次输入您的密码</b> </label>
                        </section>
                        <section class="checking"><span style="color:darkorange">（密码要求：密码长度为10~16位，至少包含1个大写字母、1个小写字母、1个特殊字符、1个数字）</span>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="button" class="btn btn-primary" id='submit'>
                            提交
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</section>

