
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="alert alert-info index-main-header">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="toolbar">
                        <div  class='pull-left margin-right margin-top'> <a href="javascript:void(0)" id="addBtn" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>添加</a></div>
                           <div class='pull-left key-search margin-top'>   <label for="name" style="vertical-align: middle;">关键词：</label>
                               <input type="text" class="form-control form-controler1" name="name" id="name" value="" style="display:inline;width: 160px;vertical-align: middle; " />
                                <a href="javascript:void(0)" id="searchBtn" class="btn btn-primary" style="vertical-align: middle;">
                                  <i class="fa fa-search"></i>搜索</a>
                                  </div>
                        </div>
                    </div>
                </form>
            </div>
            <table id="ID_gridTable"></table>
            <div id="ID_gridPager"></div>
            <br>
        </article>
    </div>
    <br>
</section>
