<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加页面</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>
        html {
            width: 100%;
            height: 100%;
        }

        body {
            width: 100%;
            height: 100%;
        }

        body > div {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .contents {
            width: 90%;
            margin: 0 auto;
            margin-top: 40px;
        }

        .btns {
            width: 85%;
            height: 80px;
            margin: 0 auto;
            text-align: center;
            line-height: 80px;
        }

        .btn {
            width: 50px;
            height: 30px;
            margin: 0 auto;
            text-align: center;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
<div style="text-align:center;">
    <div class='contents'>
        <label for="keyWord" style='color:#000;padding-left: 10px;'>关键词：
            <input type="text" name='keyWord' id='keyWord'/>
        </label>
    </div>
    <div class='btns'>
        <input type="button" value='提交' class='btn btn-success' id='addData'/>&nbsp;&nbsp;
        <input type="button" value='取消' class='btn btn-danger cancel'/>
    </div>
</div>
<script type="text/javascript" src="/js/libs/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/libs/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/plugin/layer/layer.js"></script>
<script type="text/javascript" src="/js/app.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/json2.js"></script>
<script type="text/javascript" src="/js/ajax/keyword-filter-add.js"></script>
</body>

</html>